#head {
  color: white;
  background-color: blue;
}

.link {
  color: white;
  margin-top: 20px;
}

.image_header {
  background-image: url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 400px;
}
