#kontak_bg {

  background-image: url("https://c1.wallpaperflare.com/preview/905/504/898/stars-water-banner-header.jpg");

  height: 730px;

}
.kontak {
  color: black;
  text-align: center;
  margin-top: 208px;
  background-color: white;
}
